body {
  font-family: "Roboco", sans-serif;
  color: #434455;
  background-color: ;
}

.header-logo {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}
